@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');


*{
    font-family: 'Alice', serif;
}
.img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.container{
    display: grid;
    justify-content: center;
    max-width: 1240px;
    margin: 0px auto;
}
.body__wrapper{
    padding-top: 70px;
}
.h1{
    font-weight: 400;
    font-size: 48px;
    line-height: 55px;
    text-align: center;
    color: #205B7F;
    padding: 30px 0px;
}
.input{
    background: #FFFFFF;
    border: 1px solid #131313;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #131313;
    height: 30px;
}
.input::placeholder { 
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #E0E0E0;
}
.button{
    min-width: 100px;
    background: #131313;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
}



/* Шапка */
.header{
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 2px 8px #A4A4A4;
}


/* Фильтры */
.filters__container, .filters__text{
    display: flex;
    gap: 30px;
    align-items: center;
}
.filter__text{
    font-weight: 400;
    font-size: 24px;
    line-height: 27px;
    color: #131313;
    cursor: pointer;
}
.filters__search{
    display: flex;
    gap: 5px;
}


/* Главная фотография */
.mainPicture__container{
    position: relative;
}
.mainPicture__text{
    position: absolute;
    bottom: 3%;
    right: 0;
    left: 0;
    margin: 0 auto;
    font-weight: 400;
    font-size: 48px;
    line-height: 55px;
    text-align: center;
    color: #FFFFFF;
    max-width: 448px;
}


/* Главная информация */
.mainInformation__container{
    margin-top: 50px;
    background: #FFFFFF;
    box-shadow: 0px 2px 8px 1px #A4A4A4;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}
.mainInformation__text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
}
.mainInformation__name, .allInformation__title{
    font-weight: 400;
    font-size: 50px;
    line-height: 57px;
    color: #131313;
}
.mainInformation__quote{
    font-weight: 400;
    font-size: 48px;
    line-height: 55px;
    color: #A4A4A4;
}
.mainInformation__photo{
    min-width: 300px;
}
.facts{
    font-weight: 400;
    font-size: 24px;
    line-height: 27px;
    color: #131313;
}
.facts span{
    color: #A4A4A4;
}


/* Вся информация */
.allInformation__container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: space-between;
    margin-top: 50px;
}
.allInformation__block{
    border-top: 3px solid #131313;
}
.allInformation__left{
    margin-right: 30px;
    padding-right: 30px;
    border-right: 1px solid #A4A4A4;
    display: grid;
    gap: 50px;
}
.allInformation__title{
    margin-top: 10px;
}
.achivement__list{
    margin-left: 50px;
}
.achivement__item{
    font-weight: 400;
    font-size: 24px;
    line-height: 27px;
    color: #131313;
}
.biography__text{
    font-weight: 400;
    font-size: 24px;
    line-height: 27px;
    color: #131313;
}
.allInformation__biography{
    margin-bottom: 50px;
}
.social__item{
    fill: #131313;
    width: 50px;
    height: 50px;
}
.social{
    display: flex;
    gap: 30px;
}
.social__item:hover{
    fill: #128CDB;
}
.phoneMail{
    width: 100%;
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid #A4A4A4;
    display: grid;
    flex-direction: column;
    gap: 10px;
}
.phoneMail__link{
    display: flex;
    align-items: center;
    gap: 10px;
}
.phoneMail__icon{
    width: 30px;
    height: 30px;
    fill: #131313;
}
.phoneMail__text{
    font-weight: 400;
    font-size: 24px;
    line-height: 27px;
    color: #131313;
}


/* Список выпускников */
.students{
    margin-top: 50px;
}
.students__list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 60px;
    justify-content: center;
}
.allStudents__list{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 60px;
    justify-content: center;
}
.students__item{
    max-width: 200px;
}
.students__link{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.students__photo{
    width: 162px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: all 0.3s ease;
}
.students__photo:hover{
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    filter: grayscale(0%);
}
.students__text{
    font-weight: 400;
    font-size: 24px;
    line-height: 27px;
    text-align: center;
    color: #313131;
    transition: all 0.3s ease;
}
.students__text:hover{
    color: #128CDB;
}
.students__all, .students__all a{
    margin-top: 70px;
    text-align: center;
    font-weight: 400;
    font-size: 24px;
    line-height: 27px;
    text-align: center;
    text-decoration-line: underline;
    color: #313131;
}
.students__all a:hover{
    color: #128CDB;
}


/* Подвал */
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 2px 8px #A4A4A4;
    margin-top: 50px;
}